
html, body {
    position:relative;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    height: 10vh;
    margin: 0;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6c9fe6;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    position:relative;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #cc6ce6;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 660px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}


.full-height {
    height: 20vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;

}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
}

.m-b-md {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainUI{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

ul.submission {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.submission li {float: left; margin: 5px;}

input[type=text] {
    width: 200px;
    height: 30px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type=radio] {
    width: 50px;
    height: 20px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

ul.survey {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.survey li { margin: 5px;}

input.survey {
    width: 200px;
    height: 25px;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

table.admin{
    border-collapse: collapse;
    width: 100%;
    border: 3px solid #6c9fe6;
    border-radius: 25px;
}

td.admin th.admin{
    border: 1px solid #ddd;
    padding: 10px;

}


th.admin{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #cc6ce6;
    color: white;
}

th.adminSubHeading{
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #e3b96b;
    color: white;
}

tr.admin:hover {background-color: #ddd;}

.button {margin: 2%;}
